#videoBrowse {
	.topMenu {
		margin-bottom: 20px;
	}

	a.video {
		background: $white;
		line-height: 1;

		h2 {
			margin: 0;
			padding: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include breakpoint(large) {
				font-size: 20px;
			}
			@include breakpoint(medium down) {
				font-size: 16px;
			}
		}
		.footer {
			color: $body-font-color;
			padding: 2px;

			.commentCountWrap {
				margin-top: 3px;
			}
			.ratingWrap {
				margin-top: 3px;

				.rating {
					font-size: 0.8em;

					.up, .down {
						top: 4px;
					}
				}
			}
		}
	}
}
