#rating {
	.vote {
		display: inline-block;
		font-size: 1.2em;
		margin: 5px 0 5px 20px;
		cursor: pointer;

		.voteButton {
			cursor: pointer;
			background: $scheme-3;
			color: $white;
			border-radius: 2px;
			padding: 4px;
			user-select: none;

			&.upvote.active {
				color: $success-color;
			}
			&.downvote.active {
				color: $alert-color;
			}
		}
	}

	.ratingWrap {
		margin-top: 8px;
		margin-right: 8px;
	}
}


.ratingWrap {
	border: 1px solid $scheme-3;
	border-radius: 4px;
	overflow: hidden;

	.rating {
		position: relative;
		height: 20px;
		background: $alert-color;

		.bar {
			height: 20px;
			position: absolute;
			left: 0;
			top: 0;
			background: $success-color;
		}
		.labels {
			height: 20px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;

			.up {
				position: absolute;
				left: 10px;
				top: 0;
			}
			.down {
				position: absolute;
				right: 10px;
				top: 0;
			}
		}
	}
}
