#videoView {
	.postCommentWrap {
		margin-top: 15px;
	}

	.comment {
		position: relative;
		background: #FFFFFF;
		margin-bottom: 20px;
		padding: 6px;
		border-radius: 6px;
		min-height: 88px;
		overflow: hidden;

		.leftPanel {
			width: 75px;
			float: left;

			img {
				display: block;
			}
			.vote {
				font-size: 0.9em;
				margin-left: 20px;
				cursor: pointer;
			}
		}
		.rightPanel {
			margin-left: 75px;

			.reply {
				position: absolute;
				right: 0;
				top: 0;
				width: 80px;
				background: #ccc;
				display: none;
				text-align:center;
				background: $scheme-3;
				color: $white;
				border-radius: 0 0 0 6px;
				cursor: pointer;
			}
			.details {
				line-height: 0.8em;

				.username {
					font-size: 0.8em;
				}
				.timestamp {
					font-style: italic;
					font-size: 0.7em;
				}
			}
			.replies {
				size: 0.8em;
			}
		}

		&:hover {
			.reply {
				display: block;
			}
		}
	}
}
