#comments {
	.postCommentWrap {
		margin-top: 15px;
	}

	.comment {
		position: relative;
		background: #FFFFFF;
		margin-bottom: 20px;
		padding: 6px;
		border-radius: 6px;
		min-height: 88px;
		overflow: hidden;

		.leftPanel {
			width: 75px;
			float: left;

			img {
				display: block;
			}
			.vote {
				font-size: 0.9em;
				margin: 5px 0 5px 20px;
				cursor: pointer;

				.voteButton {
					cursor: pointer;
					background: $scheme-3;
					color: $white;
					border-radius: 2px;
					padding: 4px;
					user-select: none;

					&.upvote.active {
						color: $success-color;
					}
					&.downvote.active {
						color: $alert-color;
					}
				}
			}
		}
		.rightPanel {
			margin-left: 75px;
			padding: 16px;

			.reply {
				position: absolute;
				right: 0;
				top: 0;
				width: 80px;
				background: #ccc;
				display: none;
				text-align:center;
				background: $scheme-3;
				color: $white;
				border-radius: 0 0 0 6px;
				cursor: pointer;
			}
			.details {
				position: absolute;
				bottom: 10px;
				line-height: 0.8em;

				.username {
					font-size: 0.8em;
				}
				.timestamp {
					font-style: italic;
					font-size: 0.7em;
				}
			}
			.numReplies {
				position: absolute;
				right: 15px;
				bottom: 5px;
				size: 0.8em;
				user-select: none;
			}
		}

		&:hover {
			.reply {
				display: block;
			}
		}
	}
}
