#modalsForgotPassword {
	.submitWrap {
		button {
			width: 100%;
			padding: .75rem .5rem .75rem .5rem;
			font-size: .875rem;
			margin: 0 0 .625rem;
		}
		a {
			display: inline-block;
			padding-top: 12px;
		}
	}
}
